data/
data_1600/
new_data/
data_features/
checkpoints/
resnet50_weights/
.ipynb_checkpoints
frames/
videos/
best_trained_models/
new_best_trained_models/
python_scripts/
logs/
*.mp4
*.png
*.out
*.py
*.h5
*.out
